@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.nav-name {
	font-family: "Rock Salt", Verdana;
	font-weight: bold;
}

.nav-menu {
	font-family: "Oswald", Verdana;
	font-size: larger;
	font-weight: bolder;
}

.logo {
	position: absolute;
	right: 1rem;
	top: 10rem;
    max-width: 40%;
	z-index: 1;
}

